/vendor/
node_modules/
npm-debug.log
yarn-error.log
.idea

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage/uploads/*
!public/storage/uploads/wXgHlUZxP82XAx5MWiEUhLP6DWdoZg956HH8gvbJ.png
storage/app/public/uploads/
!storage/app/public/uploads/wXgHlUZxP82XAx5MWiEUhLP6DWdoZg956HH8gvbJ.png
public/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
